<!DOCTYPE html>
<html>
	<head>
		<script src="../distributable/dubstash.min.js"></script>		
		<!--script src="../src/dubstash.js"></script-->
	</head>
	<body>

		<script type="text/javascript">

			document.write('<p>DubStash version: ' + DubStash.VERSION + '</p>');

		</script>

		<table>
			<tr>
				<th>Test</th>
				<th>Runtime Compile &amp; Render</th>
				<th>Precompile &amp; Runtime Render</th>
			</tr>
			
			<script type="text/javascript">
		
				// Placeholder test data.
				var testData1 = {
					result: 'OK',
					htmlResult: '<strong>OK</strong>',
					multi: {
						level: {
							result: 'OK'
						}
					},
					getResult: function(){
						return testData1.result;
					}
				};

				// Recursive placeholder test data.
				var testData2 = {
					result: 'OK',
					result1: '{{result}}',
					result2: '{{result3 /r}}',
					result3: '{{result}}'
					
				};

				// Condition test data.
				var testData3 = {
					result: 'OK',
					'true': true,
					'false': false,
					fullArray: ['a'],
					emptyArray: [],
					fullObject: {a: '1'},
					emptyObject: {}
				};

				// Iteration test data
				var Iterable = function(){
					this.items_ = [
						{char: 'O'},
						{char: 'K'}
					];
				};
				Iterable.prototype.forEach = function(callback){

					for (var i in this.items_){
						callback(this.items_[i]);
					};
				};

				var testData4 = {
					array: [
						{char: 'O'},
						{char: 'K'}
					],
					emptyArray: [],
					object: {
						'a': {char: 'O'},
						'b': {char: 'K'}
					},
					emptyObject: {},
					iterable: new Iterable()
				};

				// Backtracking test data
				var testData5 = {
					items: [
						{name: 'one'}
					],
					result: 'OK',
					x: {
						result: 'y'
					},
					recursiveItems: [
						{name: '{{../../result}}'}
					]
				};

				var tests = [
					['Regular placeholder', '{{result}}', testData1, 'OK'],
					['Non-existent placeholder', 'O{{noSuchProperty}}K', testData1, 'OK'],
					['Non-escaped placeholder', '{{{htmlResult}}}', testData1, '<strong>OK</strong>'],
					['Placeholder is a function', '{{getResult}}', testData1, 'OK'],
					['Multi.level.placeholder', '{{multi.level.result}}', testData1, 'OK'],
					['Recursive placeholder - 1 level', '{{result1 /r}}', testData2, 'OK'],
					['Recursive placeholder - 2 levels', '{{result2 /r}}', testData2, 'OK'],
					['Condition (true)', '{{if true}}{{result}}{{end if}}', testData3, 'OK'],
					['Condition (false)', '{{if false}}{{else}}{{result}}{{end if}}', testData3, 'OK'],
					['Condition: array with elements is truthy', '{{if fullArray}}OK{{end if}}', testData3, 'OK'],
					['Condition: empty array is falsy', '{{if emptyArray}}{{else}}OK{{end if}}', testData3, 'OK'],
					['Condition: object with values is truthy', '{{if fullObject}}OK{{end if}}', testData3, 'OK'],
					['Condition: empty object is falsy', '{{if emptyObject}}{{else}}OK{{end if}}', testData3, 'OK'],
					['Iterate full array', '{{foreach array}}{{char}}{{end foreach}}', testData4, 'OK'],
					['Iterate empty array', 'O{{foreach emptyArray}}{{char}}{{end foreach}}K', testData4, 'OK'],
					['Iterate full object', '{{foreach object}}{{char}}{{end foreach}}', testData4, 'OK'],
					['Iterate empty object', 'O{{foreach emptyObject}}{{char}}{{end foreach}}K', testData4, 'OK'],
					['Iterate iterable object (forEach)', '{{foreach iterable}}{{char}}{{end foreach}}', testData4, 'OK'],
					['Climb {{../property}}', '{{foreach items}}{{../../result}}{{end foreach}}', testData5, 'OK'],
					['Climb &amp; dive {{../object.property}}', '{{foreach items}}{{name}}{{../../x.result}}{{end foreach}}', testData5, 'oney'],
					['Climb in recursive template from inside iteration', '{{foreach recursiveItems}}{{name /r}}{{end foreach}}', testData5, 'OK']
				];

				function runTest(description, template, testData, expectedResult){

					var result1 = 'FAILED';
					try{
						var render1 = DubStash.compile(template);
						var output1 = render1(testData);
						if (output1 === expectedResult){
							result1 = 'OK';
						} else {
							result1 += ' (result: \'' + output1 + '\')'; 
						};
					} catch (ex){
						result1 += ': ' + ex.message;
						if ('stack' in ex){
							console.error(ex.stack);
						};
					};

					var result2 = 'FAILED';
					try {
						var precompiled = DubStash.precompile(template);
						var render2 = eval('(' + precompiled + ')');
						var output2 = render2(testData);
						if (output2 === expectedResult){
							result2 = 'OK';
						} else {
							result2 += ' (result: \'' + output2 + '\')'; 
						};
					} catch (ex){
						result2 += ': ' + ex.message;	
						if ('stack' in ex){
							console.error(ex.stack);
						};
					};

					document.write('<tr><td>' + description + '</td><td>' + result1 + '</td><td>' + 
						result2 + '</td>');
				};

				for (var i in tests){
					runTest.apply(null, tests[i]);						
				};

			</script>

		</table>

	</body>
</html>